<h2 align="center" style="color:blue">Codebasics Python Course: Exercise - List, If Condition, For Loop</h2>

### Task 1

1. You are a Marvel fan and created a list of superheroes.

```py
avengers  = [â€˜Iron Manâ€™, â€˜Captain Americaâ€™, â€˜Black Widowâ€™, â€˜Hulkâ€™, â€˜Thorâ€™, â€˜Hawkeyeâ€™]
```

Using this list, calculate how many members in the Avengers team?

In [72]:
avengers  = ['Iron Man', 'Captain America', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye']

In [73]:
# write your code here to print total number of members in avengers team
len(avengers)

6

### Task 2

Awesome. Now Iron Man made Spider-Man a new member of the Avengers, add him to your list at the end

In [74]:
# write your code here

avengers.append("Spider man")
avengers

['Iron Man',
 'Captain America',
 'Black Widow',
 'Hulk',
 'Thor',
 'Hawkeye',
 'Spider man']

### Task 3

Looks like you are loving this avengers exercise alreadyðŸ˜„, Let's add a twist to it. Everyone came to a conclusion that Captain America is the leader of the Avengers, so please add him before the Iron Man. Hint: You can first remove him from the list and add before the Iron Man. To remove him you can use a method called .pop()

ðŸ’¡ Feel free to take help of ChatGPT just in case you are confused about pop() method. Remember becoming a good Python programmer is all about how well you can learn new things on your own

In [75]:
# write your code here
las = avengers.pop(1)
print(avengers)
avengers.insert(0,las)
print(avengers)

['Iron Man', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye', 'Spider man']
['Captain America', 'Iron Man', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye', 'Spider man']

### Task 4

Thor and Hulk are getting angry easily and fight with each other. So you have to separate them with each other. To separate them, move â€œBlack Widowâ€ in between them.

In [76]:
# write your code here
avengers.remove("Black Widow")
avengers

['Captain America', 'Iron Man', 'Hulk', 'Thor', 'Hawkeye', 'Spider man']

In [77]:
avengers
avengers.insert(4,"Black Widow")
avengers

['Captain America',
 'Iron Man',
 'Hulk',
 'Thor',
 'Black Widow',
 'Hawkeye',
 'Spider man']

### Task 5

Below list contains scores of students in a class as per their roll number. Which means the first element is for roll # 1, second one is for roll # 2 and so on. Print the scores of,

1. The first student
1. The last student
1. First 3 students
1. Scores of roll # 3, 4 and 5

In [24]:
scores = [92, 85, 76, 58, 89, 91, 73, 84]

In [25]:
# score of the first student
print(scores[0])

92

In [26]:
# score of the last student
print(scores[-1])

84

In [28]:
# scores of the first 3 students
print(scores[0:3])

[92, 85, 76]

In [29]:
# scores of roll # 3, 4 and 5
print(scores[2:5])

[76, 58, 89]

### Task 6

We got a result of one more student which is 83 marks. Append this to the ```scores``` at the end and print the list

In [30]:
# write your code here
scores.append(83)
print(scores)

[92, 85, 76, 58, 89, 91, 73, 84, 83]

### Task 7

Categorizes each score into a grade based on the following thresholds:

1. A: 90 to 100
1. B: 80 to 89
1. C: 70 to 79
1. D: 60 to 69
1. F: Below 60

Count the number of students in each grade category and print the summary of how many students received each grade. 

Expected output

```
Grade Summary:
- A: 2 students
- B: 4 students
- C: 2 students
- D: 0 students
- F: 1 students
```

In [43]:
# write your code here
print("Grade Summary:")
suma=0
sumb=0
sumc=0
sumd=0
sumf=0
for i in scores:
    if i >=90:
        suma += 1     
    elif i >= 80  and i<= 89:
        sumb+=1
    elif i >= 70  and i<= 79:
        sumc+=1
    elif i >= 60  and i<= 69:
        sumd+=1
    else:
        sumf+=1
print(f"-A: {suma} students")
print(f"-B: {sumb} students")
print(f"-C: {sumc} students")
print(f"-D: {sumd} students")
print(f"-F: {sumf} students")

Grade Summary:
-A: 2 students
-B: 4 students
-C: 2 students
-D: 0 students
-F: 1 students

### Task 8

Managing inventory efficiently is crucial for businesses to ensure they do not run out of key products. This exercise simulates a simple inventory management system where the user can see which items are below the minimum stock level and need reordering. Below you have two lists that stores product names and their inventory stock levels.Using that,

1. Check each item to see if its stock level is below a minimum threshold.
1. If the stock level is below the minimum, add the product's name to a reorder list.
1. Print a list of products that need to be reordered.

Expected Output
```
Items to Reorder:
- Pears
- Grapes
```

In [59]:
# Lists to store product names and stock levels
product_names = ["Apples", "Bananas", "Oranges", "Pears", "Grapes"]
stock_levels = [20, 50, 15, 5, 8]

minimum_stock = 10  # Minimum stock before reordering

In [60]:
# Check items that need reordering
print("Items to Reorder:")
for i, s in zip(product_names, stock_levels):  # i = product name, s = stock level
    if s < minimum_stock:
        print(i)  # Print the product name instead of the whole list

Items to Reorder:
Pears
Grapes