In [1]:
print("Hello welcome to python course")

Hello welcome to python course

In [10]:
f = 2871232e6
print(f)
print(type(f))

2871232000000.0
<class 'float'>

In [ ]:
import math
math.expo

In [16]:
t = 23.34e3
print(t)
print(pow(5,5))

23340.0
3125

In [2]:
print("welcome ")
x = y = 45
print(x)

welcome
45

In [12]:
print(45 // 6.5)

6.0

In [20]:
s="Checks if"
print(len(s))

9

In [9]:
print(s.count('oe'))

0

Variables Excercise

In [17]:
b="The Himalayas are one of the youngest mountain ranges on the planet"
print(b[0:13])
print(b[-29:-15])
t=b[0:13]
tr=b[-13:-1]
print(f"{t} {tr}")

The Himalayas
mountain range
The Himalayas on the plane

In [19]:
ex="There are 9 planets in the solar system"
print(ex.replace("9","8"))

There are 8 planets in the solar system

In [ ]:
#dictionaries
d = {'polly':
     {'age':98665454,
      'address':'Mumbai'},
      'smith':{
       'age':1454,
       'address':'sydney'}}
for con,data in d.items():
    for pros,val in data.items():
        print(f"{con} {pros} : {val}")

In [ ]:
#Tuples
contact = [('rachel',2444613),('mark',68789784),('joyce',224221)]
for con in contact:
    if con[0]== "mark":
        print(con[0])
        print(type(contact))